:root {
	font-family: sans-serif;

	--color-theme: #184164;
	--color-theme-alpha-10: rgba(24, 65, 100, 0.1);
	--color-theme-alpha-70: rgba(24, 65, 100, 0.7);

	--color-accent: #2c6e99;
	--color-accent-alpha-10: rgba(44, 110, 153, 0.1);
	--color-accent-alpha-20: rgba(44, 110, 153, 0.2);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

a.text {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.2em;
	text-decoration: none;
	color: var(--color-theme);
	position: relative;
	transition: color 0.2s ease-in-out;
	width: fit-content;
	position: relative;
}

a.text::after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	background: currentColor;
	transition: width 0.3s ease-in-out;
}

a.text:hover {
	filter: drop-shadow(0 0 0.1em var(--color-theme-alpha-10)) brightness(1.1);
}

a.text:hover::after {
	width: 100%;
}

button,
input,
textarea {
	font-family: inherit;
	font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
hr {
	margin: 0;
}
